/* Mulish Font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;800&display=swap');

body {
    font-family: 'Mulish', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 50px;
}

h2 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.btn-primary {
    border: none;
    padding: 13px 40px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FF5400;
    color: white;
}

.logo-nav {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid tomato; */
    align-items: center;
}

.logo {
    display: flex;
    /* border: 1px solid tomato; */
    align-items: center;
}

.logo-title {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    margin-left: 10px;
}

.logo-title-span {
    color: #FF5400;
}

.nav>ul {
    display: flex
}

.nav li {
    list-style: none;
    margin-left: 30px;
    font-size: 18px;
    font-weight: 400;
}

.nav li a {
    text-decoration: none;
    color: #424247;
}

.nav li .active {
    color: #FF5400
}

.banner {
    /* border: 1px solid tomato; */
    background-image: url("../Images/Group13.png");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    border-radius: 15px;
}

.banner-content {
    padding-top: 100px;
}

.banner-content h2 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    line-height: 28px;

}

.banner-content p {
    color: rgb(233, 224, 224);
    font-weight: 400;
    font-size: 18px;
    padding: 40px 305px;
}

.banner-info {
    padding-bottom: 180px;
    border-radius: 5px;
}

.info-select {
    border: none;
    padding: 13px 40px;
    border-radius: 5px;
    margin-right: 10px;
    color: gray;
}

.popular-tours {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.popular-tours-content {}

.popular-tours-content h2 {
    padding: 0px;
    margin: 0px;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.popular-tours-content p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    padding-right: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 30px;
}

.popular-tours-content ul>li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-right: 265px;
}

.popular-tours-img {}

.choose-destination {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

.choose-destination h2 {
    line-height: 0px;
}

.choose-destination p {
    padding: 25px 400px;
}

.destination-row-one {
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.destination-row-one img {
    width: 100%;
}

.destination-row-two {
    display: grid;
    grid-template-columns: 30% 43% 25%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.destination-row-two img {
    width: 100%;
    height: 350px;
}

.destination-row-three {
    display: grid;
    grid-template-columns: 40% 59%;
    justify-content: space-between;
}

.destination-row-three img {
    width: 100%;
    height: 350px;
}

/* Choose Us Section */
.choose-us{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.choose-us-text{

}

.choose-us-row-one{
    text-align: left;

}

.first-column{
    background-color: rgba(251, 181, 99, 0.2);
    padding: 40px 80px;
}
.second-column{
    background-color: rgba(41, 206, 246, 0.2);
    padding: 40px 80px;
}

.choose-us .choose-us-row-one{
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
}

.choose-us-row-two{
    text-align: left;
    background-color: rgba(233, 68, 68, 0.2);
    width: 700px;
    margin: 20px auto;
}

.single-column{
    padding: 40px 80px;
}

/* Footer Section */
footer {
    background-color: rgba(19, 19, 24, 0.05);
    text-align: center;
    padding: 100px 200px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0px;
}

.footer-text {
    padding: 15px 180px;
    line-height: 30px;
}

.social-links {
    padding: 50px 0px;
}

.social-links a {
    text-decoration: none;
}

.social-links img {
    margin-right: 20px;
}

.copyright {
    padding: 50px 0px;
}

/* Responsive Media Query */

/* For Small Devices */
@media screen and (max-width: 576px) {
    .logo-nav {
        flex-direction: column;

    }

    .banner {
        background-size: cover;
        text-align: center;
    }

    .banner-content {
        padding-top: 0px;
    }

    .banner-content h2 {
        color: #FFF;
        font-size: 24px;
        font-weight: 800;
    }

    .banner-content p {
        color: rgb(233, 224, 224);
        font-weight: 400;
        font-size: 16px;
        padding: 10px 50px;
        color: #424247;
    }

    .banner-info {
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 260px;
        padding-top: 50px;
    }

}