/* Mulish Font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;800&display=swap');

body {
    font-family: 'Mulish', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 50px;
}

.logo-nav {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid tomato; */
    align-items: center;
}

.logo {
    display: flex;
    /* border: 1px solid tomato; */
    align-items: center;
}

.logo-title {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    margin-left: 10px;
}
.logo-title-span{
    color: #FF5400;
}
.nav>ul {
    display: flex
}

.nav li {
    list-style: none;
    margin-left: 30px;
    font-size: 18px;
    font-weight: 400;
}

.nav li a {
    text-decoration: none;
    color: #424247;
}
.nav li .active {
    color:#FF5400
}
.banner{
    /* border: 1px solid tomato; */
    background-image: url("../Images/Group13.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
    text-align: center;
    padding: 100px 220px;
    margin-bottom: 50px;
}
.banner-content{

}
.banner-content h2{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}
.banner-content p{
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}